<!DOCTYPE html>
<html>
<head>
  <title>Samm Kaiser Volleyball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Samm Kaiser: Scholar, Athlete</h1>
<!-- Needs script for jquery-UI tabs -->
<div id="samm-tabs">
  <ul>
    <li><a href="#tab-1">Volleyball</a></li>
    <li><a href="#tab-2">Academics</a></li>
    <li><a href="#tab-3">About Samm</a></li>
    <li><a href="#tab-4">Press Page</a></li>
    <li><a href="#tab-5">Video</a></li>
  </ul>
  <div id="tab-1"><p><span>Volleyball</span></p>
    <ul>
      <li><span>Position: Setter</span></li>
      <li><span>Height: 5'9"</span></li>
      <li><span>Vertical: 9'4"</span></li>
      <li><span><a href="http://www.teamusa.org/usa-volleyball/high-performance/hp-indoor/hp-programs-and-events/rosters/a3" target="_blank">USA Volleyball High Performance Youth Training Program 2016</a></span></li>
      <li><span>Sports Performance Volleyball Club</span>
        <ul>
          <li><span>2016 Sports Performance "Navy" - Team Captain</span></li>
          <li><span>2015 Sports Performance "Runbird"</span></li>
        </ul></li>
      <li><span>Evanston Township High School (ETHS)</span>
        <ul>
          <li><span>2016 Varsity</span></li>
          <li><span>2015 Varsity</span></li>
          <li><span>2015 ETHS Effort Award</span></li>
          <li><span>2014 Junior Varsity</span></li>
        </ul></li>
<!--       <li><span>Volleyball Camps</span>
        <ul>
          <li><span>2016 Sports Performance Setter Academy</span></li>
          <li><span>2016 Sports Performance First Contact</span></li>
          <li><span>2015 Sports Performance Setter Academy</span></li>
          <li><span>2015 Georgetown University Setter / Hitter Camp</span></li>
          <li><span>2015 Northwestern University Setter Camp</span></li>
        </ul></li> -->
    </ul>
  </div>
  <div id="tab-2"><p><span>Academics</span></p>
    <ul>
      <li><span>4.4 GPA at Evanston Township High School</span></li>
      <li><span>2015 & 2016 National Latin Exam Gold Medalist</span></li>
      <li><span>2015 & 2016 Honor Society</span></li>
      <li><span>2016 - 2017 AP Classes:</span>
        <ul>
          <li><span>Chemistry</span></li>
          <li><span>Physics</span></li>
          <li><span>BC Calculus</span></li>
          <li><span>English</span></li>
        </ul></li>
      <li><span>2015 Biology Student of the Year</span></li>
    </ul>
  </div>
  <div id="tab-3"><p><span>About Samm</span></p>
    <p><span>Here's a bunch of stuff about Samm, she will want to write it herself.</span></p>
    <p><span>Samm is a really awesome kid!</span></p>
    <%= image_tag("samm_photo.jpg", :alt => "Samm") %>
  </div>
  <div id="tab-4"><p><span>Press Page</span></p>
    <ul>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-10-24/76216/evanston-spikers-serve-up-win-in-regional-opener" target="_blank">Evanston spikers serve up win in regional opener</a></span></li>
      <li><span><a href="http://www.evanstonian.net/sports/2016/10/05/volleyball-gears-up-for-discovery-invite/" target="_blank">Volleyball Gears Up For Discovery Invite</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-09-21/75946/eths-spikers-end-skid-with-first-conference-victory" target="_blank">ETHS spikers end skid with first conference victory</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-05-10/75226/thelander-johnson-named-new-head-coaches-at-eths" target="_blank">Thelander, Johnson named new head coaches at ETHS</a></span></li>
      <li><span><a href="http://il.8to18.com/evanston/scoreresultdetail?eventid=50969" target="_blank">New-look offense sputters in volleyball loss</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/evanston-now/2015-09-06/72144/role-players-help-spikers-post-3-2-tourney-mark" target="_blank">Role players help spikers post 3-2 tourney mark</a></span></li>
    </ul>
  </div>
  <div id="tab-5"><p><span>Video</span></p>
    <p><span>ETHS vs. Niles West, Sep 19, 2015</span></p>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/xd9oKtYYSGQ" frameborder="0" allowfullscreen></iframe> -->
    <iframe src='//www.hudl.com/embed/video/3/4516062/5721cb68bd746d007c6ada7a' width='640' height='360' frameborder='0' allowfullscreen></iframe>
  </div>
</div>

<script>
  $(function() {
    $('#samm-tabs').tabs();
  });
</script>
</body>
</html>
