<!DOCTYPE html>
<html>
<head>
  <title>Samm Kaiser Volleyball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Samm Kaiser: Scholar, Athlete</h1>
<!-- Needs script for jquery-UI tabs -->
<div id="samm-tabs">
  <ul>
    <li><a href="#tab-1">Volleyball</a></li>
    <li><a href="#tab-2">Academics</a></li>
    <li><a href="#tab-3">About Samm</a></li>
    <li><a href="#tab-4">Press Page</a></li>
    <li><a href="#tab-5">Video</a></li>
  </ul>
  <div id="tab-1"><p><span>Volleyball</span></p>
    <ul>
      <li><span>Samm stats</span></li>
      <li><span>2016 Sports Performance "Navy" - Team Captain</span></li>
      <li><span>2015 ETHS Effort Award</span></li>
      <li><span>2015 Sports Performance "Runbird"</span></li>
    </ul>
  </div>
  <div id="tab-2"><p><span>Academics</span></p>
    <ul>
      <li><span>Current GPA at Evanston Township High School</span></li>
      <li><span>Two-Time National Latin Exam Gold Medalist</span></li>
      <li><span>List of Samm's AP and Honors Classes</span></li>
    </ul>
  </div>
  <div id="tab-3"><p><span>About Samm</span></p>
    <p><span>Here's a bunch of stuff about Samm, she'll write it herself.</span></p>
    <p><span>Samm is a really awesome kid!</span></p>
    <%= image_tag("samm_photo.jpg", :alt => "Samm") %>
  </div>
  <div id="tab-4"><p><span>Press Page</span></p>
    <ul>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-05-10/75226/thelander-johnson-named-new-head-coaches-at-eths" target="_blank">Thelander, Johnson named new head coaches at ETHS</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/evanston-now/2015-09-06/72144/role-players-help-spikers-post-3-2-tourney-mark" target="_blank">Role players help spikers post 3-2 tourney mark</a></span></li>
    </ul>
  </div>
  <div id="tab-5"><p><span>Video</span></p>
    <p><span>Here's a video of Samm.</span></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xd9oKtYYSGQ" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<script>
  $(function() {
    $('#samm-tabs').tabs();
  });
</script>
</body>
</html>
