<!DOCTYPE html>
<html>
<head>
  <title>Samm Kaiser Volleyball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Samm Kaiser: Scholar, Athlete</h1>
<!-- Needs script for jquery-UI tabs -->
<div id="samm-tabs">
  <ul>
    <li><a href="#tab-1">Volleyball</a></li>
    <li><a href="#tab-2">Academics</a></li>
    <li><a href="#tab-3">About Samm</a></li>
    <li><a href="#tab-4">Press Page</a></li>
    <li><a href="#tab-5">Video</a></li>
  </ul>
  <div id="tab-1"><p><span>Volleyball</span></p>
    <ul>
      <li><span>Position: Setter</span></li>
      <li><span>Height: 5'9"</span></li>
      <li><span>Vertical: 9'4"</span></li>
      <li><span>USA Volleyball High Performance Youth Training Program 2016 & 2017</span></li>
      <li><span>Sports Performance Volleyball Club</span>
        <ul>
          <li><span>2017 Sports Performance "18 Runbird"</span></li>
          <li><span>2016 Sports Performance "16 Navy" - Team Captain</span></li>
          <li><span>2015 Sports Performance "15 Runbird"</span></li>
        </ul></li>
      <li><span>Evanston Township High School (ETHS)</span>
        <ul>
          <li><span>2017 Varsity (Captain)</span></li>
          <li><span>2016 Varsity</span></li>
          <li><span>2015 Varsity</span></li>
          <li><span>2015 ETHS Effort Award</span></li>
          <li><span>2014 Junior Varsity</span></li>
        </ul></li>
<!--       <li><span>Volleyball Camps</span>
        <ul>
          <li><span>2016 Sports Performance Setter Academy</span></li>
          <li><span>2016 Sports Performance First Contact</span></li>
          <li><span>2015 Sports Performance Setter Academy</span></li>
          <li><span>2015 Georgetown University Setter / Hitter Camp</span></li>
          <li><span>2015 Northwestern University Setter Camp</span></li>
        </ul></li> -->
    </ul>
  </div>
  <div id="tab-2"><p><span>Academics</span></p>
    <ul>
      <li><span>4.48 GPA at Evanston Township High School</span></li>
      <li><span>2015, 2016 & 2017 National Latin Exam Gold Medalist</span></li>
      <li><span>2015, 2016 & 2017 Honor Society</span></li>
      <li><span>2015 & 2017 Math Department Award</span></li>
      <li><span>2017 - 2018 AP Classes:</span>
        <ul>
          <li><span>Chemistry</span></li>
          <li><span>Physics</span></li>
          <li><span>Multi-Variable Calculus / Linear Algebra</span></li>
          <li><span>English</span></li>
        </ul></li>
      <li><span>2015 Biology Student of the Year</span></li>
      <li><span>Advanced Placement Scores</span>
        <ul>
          <li>BC Calculus - 5</li>
          <li>Physics C Mechanics - 5</li>
          <li>Language and Composition - 5</li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="tab-3"><p><span>About Samm</span></p>
    <p><span>Samantha (Samm) Kaiser is a senior at Evanston Township High School. She studies hard and plays volleyball. </span></p>
    <!-- <p><span>Samm is a really awesome kid!</span></p> -->
    <%= image_tag("samm_photo.jpg", :alt => "Samm") %>
  </div>
  <div id="tab-4"><p><span>Press Page</span></p>
    <ul>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2017-09-02/78234/spikers-slide-past-glenbrook-north-in-tourney-finale" target="_blank">Spikers slide past Glenbrook North in tourney finale</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2017-08-22/78177/spikers-need-passing-grade-to-bounce-back" target="_blank">Spikers need passing grade to bounce back</a></span></li>
      <li><span><a href="https://www.eths.k12.il.us/site/default.aspx?PageType=3&DomainID=4&ModuleInstanceID=25&ViewID=047E6BE3-6D87-4130-8424-D8E4E9ED6C2A&RenderLoc=0&FlexDataID=3890&PageID=1" target="_blank">ETHS students earn 2017 National Latin Exam recognition</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-10-24/76216/evanston-spikers-serve-up-win-in-regional-opener" target="_blank">Evanston spikers serve up win in regional opener</a></span></li>
      <li><span><a href="http://www.evanstonian.net/sports/2016/10/05/volleyball-gears-up-for-discovery-invite/" target="_blank">Volleyball Gears Up For Discovery Invite</a></span></li>
      <li><span><a href="http://www.evanstonroundtable.com/main.asp?SectionID=5&SubSectionID=5&ArticleID=12577" target="_blank">ETHS Volleyball Takes First Conference Victory</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-09-21/75946/eths-spikers-end-skid-with-first-conference-victory" target="_blank">ETHS spikers end skid with first conference victory</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-05-10/75226/thelander-johnson-named-new-head-coaches-at-eths" target="_blank">Thelander, Johnson named new head coaches at ETHS</a></span></li>
      <li><span><a href="http://il.8to18.com/evanston/scoreresultdetail?eventid=50969" target="_blank">New-look offense sputters in volleyball loss</a></span></li>
      <li><span><a href="http://evanstonnow.com/story/sports/evanston-now/2015-09-06/72144/role-players-help-spikers-post-3-2-tourney-mark" target="_blank">Role players help spikers post 3-2 tourney mark</a></span></li>
    </ul>
  </div>
  <div id="tab-5"><p><span>Video</span></p>
    <p><span>HUDL: Highlights vs Stevenson  HS</span></p>
    <iframe src='//www.hudl.com/embed/video/3/4516062/59ab1c5aa680f823944a94fd' width='560' height='315' frameborder='0' allowfullscreen></iframe>
    <p><span>Full Set - 2017 High Performance Championships</span></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bFn31zoZBns" frameborder="0" allowfullscreen></iframe>
    <p><span>Samm Kaiser Highlights April, 2017</span></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/wG6qnhCZ27c" frameborder="0" allowfullscreen></iframe>
    <p><span>SPRI Skills Video April 14, 2017</span></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5Z3cqTsLn0E" frameborder="0" allowfullscreen></iframe>
    <p><span>ETHS vs. Niles West, Sep 19, 2015</span></p>
    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/xd9oKtYYSGQ" frameborder="0" allowfullscreen></iframe> -->
    <iframe src='//www.hudl.com/embed/video/3/4516062/5721cb68bd746d007c6ada7a' width='560' height='315' frameborder='0' allowfullscreen></iframe>
  </div>
</div>

<script>
  $(function() {
    $('#samm-tabs').tabs();
  });
</script>
</body>
</html>
