<!DOCTYPE html>
<html>
<head>
  <title>Samm Kaiser Volleyball</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<h1>Samm Kaiser: Scholar, Athlete</h1>
<!-- Needs script for jquery-UI tabs -->
<div id="samm-tabs">
  <ul>
    <li><a href="#tab-1">Volleyball</a></li>
    <li><a href="#tab-2">Academics</a></li>
    <li><a href="#tab-3">About Samm</a></li>
    <li><a href="#tab-4">Press Page</a></li>
    <li><a href="#tab-5">Video</a></li>
  </ul>
  <div id="tab-1"><p>Volleyball</p>
    <ul>
      <li>Samm stats</li>
      <li>2016 Sports Performance "Navy" - Team Captain</li>
      <li>2015 ETHS Effort Award</li>
      <li>2015 Sports Performance "Runbird"</li>
    </ul>
  </div>
  <div id="tab-2"><p>Academics</p>
    <ul>
      <li>Current GPA at Evanston Township High School</li>
      <li>Two-Time National Latin Exam Gold Medalist</li>
      <li>List of Samm's AP and Honors Classes</li>
    </ul>
  </div>
  <div id="tab-3"><p>About Samm</p>
    <p>Here's a bunch of stuff about Samm, she'll write it herself.</p>
    <p>Samm is a really awesome kid!</p>
  </div>
  <div id="tab-4"><p>Press Page</p>
    <ul>
      <li><a href="http://evanstonnow.com/story/sports/dennis-mahoney/2016-05-10/75226/thelander-johnson-named-new-head-coaches-at-eths" target="_blank">Thelander, Johnson named new head coaches at ETHS</a></li>
      <li><a href="http://evanstonnow.com/story/sports/evanston-now/2015-09-06/72144/role-players-help-spikers-post-3-2-tourney-mark" target="_blank">Role players help spikers post 3-2 tourney mark</a></li>
    </ul>
  </div>
  <div id="tab-5"><p>Video</p>
    <p>Here's a video of Samm.</p>
<!--     <div class="videoWrapper"> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xd9oKtYYSGQ" frameborder="0" allowfullscreen></iframe>
<!--     </div> -->
  </div>
</div>

<script>
  $(function() {
    $('#samm-tabs').tabs();
  });
</script>
</body>
</html>
